header {

    background-color: rgb(121, 116, 126);


}

img {
    max-width: 50%;
}

nav {
    background-color: rgb(114, 112, 108);



}


main section {

    background-color: rgb(118, 111, 124);



}


footer {

    background-color: rgb(154, 149, 163);

}